In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("47179.txt", sep='\t', encoding='latin-1')
df.head()

/var/folders/h6/qd2kpqfj4_35f63hmcw_m0nc0000gn/T/ipykernel_5573/1797136013.py:1: DtypeWarning: Columns (16,19) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("47179.txt", sep='\t', encoding='latin-1')

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,...,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
0,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808373,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...","; e.g., CornwellOZ",QuestedCornelissen,NaN
1,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808374,NaN,...,NaN,68.33,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",Decimal degrees with negative numbers of South...,NaN,NaN
2,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808375,NaN,...,NaN,18.85,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",Decimal degrees with negative numbers of Weste...,NaN,NaN
3,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808376,NaN,...,NaN,360.00,m,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",Meters above sea level;,NaN,NaN
4,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808377,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",; The 4-year incubation was separate from the ...,NaN,NaN

In [6]:
df_trait_id = df[df['TraitID'].notna()]
df_trait_id.head()

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,...,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
13,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172602,1808387,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",broadleaf/needleleaf; these are used for class...,NaN,NaN
34,Cornelissen,Johannes,1,Abisko & Sheffield Database,Eriophorum angustifolium,21805,Eriophorum angustifolium,172615,1808831,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",broadleaf/needleleaf; these are used for class...,NaN,NaN
55,Cornelissen,Johannes,1,Abisko & Sheffield Database,Filipendula ulmaria,24995,Filipendula ulmaria,172617,1808903,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",broadleaf/needleleaf; these are used for class...,NaN,NaN
76,Cornelissen,Johannes,1,Abisko & Sheffield Database,Carex rostrata,10647,Carex rostrata,172675,1810914,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",broadleaf/needleleaf; these are used for class...,NaN,NaN
97,Cornelissen,Johannes,1,Abisko & Sheffield Database,Eriophorum angustifolium,21805,Eriophorum angustifolium,172688,1811358,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,"Quested, H. M., J. H. C. Cornelissen, M. C. Pr...",broadleaf/needleleaf; these are used for class...,NaN,NaN

In [10]:
df_trait_id.nunique()

LastName                   20
FirstName                  19
DatasetID                  24
Dataset                    22
SpeciesName               377
AccSpeciesID              253
AccSpeciesName            253
ObservationID            6420
ObsDataID                6450
TraitID                     1
TraitName                   1
DataID                      4
DataName                    4
OriglName                  20
OrigValueStr               20
OrigUnitStr                 0
ValueKindName               1
OrigUncertaintyStr          0
UncertaintyName             0
Replicates                  0
StdValue                    0
UnitName                    0
RelUncertaintyPercent       0
OrigObsDataID               0
ErrorRisk                   0
Reference                  21
Comment                     9
StdValueStr                 0
Unnamed: 28                 0
dtype: int64

In [ ]:
cols = []
df_trait_id = df_trait_id.