In [18]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [3]:
df = pd.read_csv("47176.txt", sep='\t', encoding='latin-1')
df.head(20)

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
0,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Aesculus hippocastanum,1571,Aesculus hippocastanum,5982424,57851740,18.0,Plant height,8030,Plant height minimum,Height,15,m,Single,NaN,NaN,NaN,15.00,m,NaN,NaN,3.305840,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
1,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Buddleja alternifolia,8754,Buddleja alternifolia,5982813,57855241,18.0,Plant height,8030,Plant height minimum,Height,2,m,Single,NaN,NaN,NaN,2.00,m,NaN,NaN,1.800800,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
2,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Buxus sempervirens,8964,Buxus sempervirens,5982829,57855385,18.0,Plant height,8030,Plant height minimum,Height,1,m,Single,NaN,NaN,NaN,1.00,m,NaN,NaN,1.156050,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
3,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Capsicum annuum,10231,Capsicum annuum,5982889,57855925,18.0,Plant height,8030,Plant height minimum,Height,0.3,m,Single,NaN,NaN,NaN,0.30,m,NaN,NaN,0.200278,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
4,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Caragana arborescens,10240,Caragana arborescens,5982890,57855934,18.0,Plant height,8030,Plant height minimum,Height,2,m,Single,NaN,NaN,NaN,2.00,m,NaN,NaN,2.570980,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
5,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex acutiformis,10355,Carex acutiformis,5982909,57856105,18.0,Plant height,8030,Plant height minimum,Height,0.4,m,Single,NaN,NaN,NaN,0.40,m,NaN,NaN,1.799550,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
6,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex distans,10435,Carex distans,5982931,57856303,18.0,Plant height,8030,Plant height minimum,Height,0.2,m,Single,NaN,NaN,NaN,0.20,m,NaN,NaN,0.380870,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
7,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex echinata,10442,Carex echinata,5982934,57856330,18.0,Plant height,8030,Plant height minimum,Height,0.1,m,Single,NaN,NaN,NaN,0.10,m,NaN,NaN,1.037810,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
8,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex elata,10443,Carex elata,5982935,57856339,18.0,Plant height,8030,Plant height minimum,Height,0.4,m,Single,NaN,NaN,NaN,0.40,m,NaN,NaN,1.799550,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
9,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex nigra,10583,Carex nigra,5982959,57856555,18.0,Plant height,8030,Plant height minimum,Height,0.1,m,Single,NaN,NaN,NaN,0.10,m,NaN,NaN,1.037810,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
10,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex riparia,10645,Carex riparia,5982979,57856735,18.0,Plant height,8030,Plant height minimum,Height,0.5,m,Single,NaN,NaN,NaN,0.50,m,NaN,NaN,2.256270,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
11,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Carex rostrata,10647,Carex rostrata,5982980,57856744,18.0,Plant height,8030,Plant height minimum,Height,0.3,m,Single,NaN,NaN,NaN,0.30,m,NaN,NaN,1.210750,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
12,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Castanea sativa,11068,Castanea sativa,5983003,57856951,18.0,Plant height,8030,Plant height minimum,Height,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,NaN,3.856100,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
13,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Comarum palustre,64975,Comarum palustre,5983106,57857878,18.0,Plant height,8030,Plant height minimum,Height,0.2,m,Single,NaN,NaN,NaN,0.20,m,NaN,NaN,1.246650,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
14,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Corrigiola litoralis,14638,Corrigiola litoralis,5983129,57858085,18.0,Plant height,8030,Plant height minimum,Height,0.05,m,Single,NaN,NaN,NaN,0.05,m,NaN,NaN,1.222110,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
15,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Corylus avellana,14688,Corylus avellana,5983135,57858139,18.0,Plant height,8030,Plant height minimum,Height,2,m,Single,NaN,NaN,NaN,2.00,m,NaN,NaN,1.706310,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
16,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Corylus colurna,14691,Corylus colurna,5983136,57858148,18.0,Plant height,8030,Plant height minimum,Height,12,m,Single,NaN,NaN,NaN,12.00,m,NaN,NaN,3.128700,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
17,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Crataegus levigata,15080,Crataegus laevigata,5983162,57858382,18.0,Plant height,8030,Plant height minimum,Height,1,m,Single,NaN,NaN,NaN,1.00,m,NaN,NaN,1.536190,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
18,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Cucurbita pepo,15865,Cucurbita pepo,5983198,57858706,18.0,Plant height,8030,Plant height minimum,Height,0.2,m,Single,NaN,NaN,NaN,0.20,m,NaN,NaN,2.356380,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
19,Danihelka,Jiøí,500,Pladias: Life forms and heights of the Czech f...,Cydonia oblonga,16158,Cydonia oblonga,5983207,57858787,18.0,Plant height,8030,Plant height minimum,Height,1.5,m,Single,NaN,NaN,NaN,1.50,m,NaN,NaN,1.477930,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN

In [5]:
df[df["TraitID"].isna()]

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
44,Thom,Dominik,662,Thom 2019,Fraxinus americana,25239,Fraxinus americana,6425420,63283885,NaN,NaN,113,Reference / source,Source,FIA database (2019),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
45,Thom,Dominik,662,Thom 2019,Fraxinus nigra,25256,Fraxinus nigra,6425465,63283976,NaN,NaN,113,Reference / source,Source,FIA database (2019),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
46,Thom,Dominik,662,Thom 2019,Fraxinus pennsylvanica,25263,Fraxinus pennsylvanica,6425505,63284057,NaN,NaN,113,Reference / source,Source,FIA database (2019),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,unpub.,NaN,NaN,NaN

In [6]:
df_trait_id = df[df["TraitID"].notna()]

In [7]:
df_trait_id.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44 entries, 0 to 43
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LastName               44 non-null     object
 1   FirstName              44 non-null     object
 2   DatasetID              44 non-null     int64
 3   Dataset                44 non-null     object
 4   SpeciesName            44 non-null     object
 5   AccSpeciesID           44 non-null     int64
 6   AccSpeciesName         44 non-null     object
 7   ObservationID          44 non-null     int64
 8   ObsDataID              44 non-null     int64
 9   TraitID                44 non-null     float64
 10  TraitName              44 non-null     object
 11  DataID                 44 non-null     int64
 12  DataName               44 non-null     object
 13  OriglName              44 non-null     object
 14  OrigValueStr           44 non-null     object
 15  OrigUnitStr            44 non-null     object
 16  ValueKindName          44 non-null     object
 17  OrigUncertaintyStr     0 non-null      float64
 18  UncertaintyName        0 non-null      float64
 19  Replicates             0 non-null      float64
 20  StdValue               44 non-null     float64
 21  UnitName               44 non-null     object
 22  RelUncertaintyPercent  0 non-null      float64
 23  OrigObsDataID          0 non-null      float64
 24  ErrorRisk              44 non-null     float64
 25  Reference              44 non-null     object
 26  Comment                3 non-null      object
 27  StdValueStr            0 non-null      float64
 28  Unnamed: 28            0 non-null      float64
dtypes: float64(10), int64(5), object(14)
memory usage: 10.3+ KB

In [10]:
df_trait_id_non_nan = df_trait_id[df_trait_id['StdValue'].notna()]

In [11]:
df_trait_id_non_nan.loc[:, "AccSpeciesName"] = (
    df_trait_id_non_nan["AccSpeciesName"].str.lower()
)
df_trait_id_non_nan.groupby("AccSpeciesName").size()

AccSpeciesName
aesculus hippocastanum      1
buddleja alternifolia       1
buxus sempervirens          1
capsicum annuum             1
caragana arborescens        1
carex acutiformis           1
carex distans               1
carex echinata              1
carex elata                 1
carex nigra                 1
carex riparia               1
carex rostrata              1
castanea sativa             1
comarum palustre            1
corrigiola litoralis        1
corylus avellana            1
corylus colurna             1
crataegus laevigata         1
cucurbita pepo              1
cydonia oblonga             1
cyperus fuscus              1
daucus carota               1
elaeagnus angustifolia      1
eleocharis quinqueflora     1
eleusine indica             1
epilobium ciliatum          1
epilobium hirsutum          1
eriophorum angustifolium    1
eriophorum vaginatum        1
fagus sylvatica             1
ficus carica                1
filipendula ulmaria         1
frangula alnus              1
fraxinus americana          1
fraxinus angustifolia       1
fraxinus excelsior          1
fraxinus nigra              1
fraxinus ornus              1
fraxinus pennsylvanica      2
geum rivale                 1
ginkgo biloba               1
hamamelis virginiana        1
helianthus annuus           1
dtype: int64

In [19]:
df_grouped = df_trait_id_non_nan.groupby("AccSpeciesName", as_index=False).agg(
    mean_height_min_m=("StdValue", "mean"),
    median_height_min_m=("StdValue", "median"),
    references=("Reference", lambda x: "; ".join(x.dropna().unique()))
)
df_grouped

,AccSpeciesName,mean_height_min_m,median_height_min_m,references
0,aesculus hippocastanum,15.00,15.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
1,buddleja alternifolia,2.00,2.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
2,buxus sempervirens,1.00,1.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
3,capsicum annuum,0.30,0.30,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
4,caragana arborescens,2.00,2.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
5,carex acutiformis,0.40,0.40,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
6,carex distans,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
7,carex echinata,0.10,0.10,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
8,carex elata,0.40,0.40,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
9,carex nigra,0.10,0.10,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
10,carex riparia,0.50,0.50,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
11,carex rostrata,0.30,0.30,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
12,castanea sativa,30.00,30.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
13,comarum palustre,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
14,corrigiola litoralis,0.05,0.05,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
15,corylus avellana,2.00,2.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
16,corylus colurna,12.00,12.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
17,crataegus laevigata,1.00,1.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
18,cucurbita pepo,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
19,cydonia oblonga,1.50,1.50,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
20,cyperus fuscus,0.05,0.05,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
21,daucus carota,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
22,elaeagnus angustifolia,5.00,5.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
23,eleocharis quinqueflora,0.07,0.07,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
24,eleusine indica,0.10,0.10,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
25,epilobium ciliatum,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
26,epilobium hirsutum,0.50,0.50,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
27,eriophorum angustifolium,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
28,eriophorum vaginatum,0.20,0.20,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
29,fagus sylvatica,35.00,35.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
30,ficus carica,0.50,0.50,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
31,filipendula ulmaria,0.50,0.50,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
32,frangula alnus,1.00,1.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
33,fraxinus americana,19.80,19.80,unpub.
34,fraxinus angustifolia,20.00,20.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
35,fraxinus excelsior,20.00,20.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
36,fraxinus nigra,17.40,17.40,unpub.
37,fraxinus ornus,6.00,6.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
38,fraxinus pennsylvanica,17.55,17.55,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
39,geum rivale,0.15,0.15,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
40,ginkgo biloba,20.00,20.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
41,hamamelis virginiana,3.00,3.00,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."
42,helianthus annuus,0.40,0.40,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc..."

In [20]:
df_trait_id_non_nan.to_csv("cleaned_plant_height.csv", index=False)