In [19]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [9]:
df = pd.read_csv("47178.txt", sep='\t', encoding='latin-1')
df.head()

/var/folders/h6/qd2kpqfj4_35f63hmcw_m0nc0000gn/T/ipykernel_6180/1381454839.py:1: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("47178.txt", sep='\t', encoding='latin-1')

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
0,Shipley,Bill,50,Leaf and Whole Plant Traits Database,Daucus carota,17041,Daucus carota,94798,1030925,3106.0,Plant height vegetative,19,Plant height vegetative,Height,89.2,cm,Single,NaN,NaN,NaN,0.892,m,NaN,NaN,1.11637,unpub.,Height (cm): plant height,NaN,NaN
1,Shipley,Bill,50,Leaf and Whole Plant Traits Database,Daucus carota,17041,Daucus carota,94798,1030931,NaN,NaN,59,Latitude,Lat,43.85,degree,NaN,NaN,NaN,NaN,43.850,NaN,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
2,Shipley,Bill,50,Leaf and Whole Plant Traits Database,Daucus carota,17041,Daucus carota,94798,1030932,NaN,NaN,60,Longitude,Lon,3.93,degree,NaN,NaN,NaN,NaN,3.930,NaN,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
3,Shipley,Bill,50,Leaf and Whole Plant Traits Database,Daucus carota,17041,Daucus carota,94798,1030933,NaN,NaN,61,Altitude,alt,100-160,m,NaN,NaN,NaN,NaN,130.000,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
4,Cavender-Bares,Jeannine,54,Floridian Leaf Traits Database,Cercis canadensis,11853,Cercis canadensis,154114,1607321,NaN,NaN,241,Measurement date / sampling date,Date,6/9/2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cavender-Bares, J., A. Keen, and B. Miles. 200...",date leaves were collected,NaN,NaN

In [10]:
df_trait_id = df[df['TraitID'].notna()]
df_trait_id.head()

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
0,Shipley,Bill,50,Leaf and Whole Plant Traits Database,Daucus carota,17041,Daucus carota,94798,1030925,3106.0,Plant height vegetative,19,Plant height vegetative,Height,89.2,cm,Single,NaN,NaN,NaN,0.892,m,NaN,NaN,1.11637,unpub.,Height (cm): plant height,NaN,NaN
12,Cavender-Bares,Jeannine,54,Floridian Leaf Traits Database,Cercis canadensis,11853,Cercis canadensis,154114,1607330,3106.0,Plant height vegetative,19,Plant height vegetative,Height_(m),3.5,m,Single,NaN,NaN,NaN,3.500,m,NaN,NaN,1.31018,"Cavender-Bares, J., A. Keen, and B. Miles. 200...",Height of the plant (m),NaN,NaN
21,Cavender-Bares,Jeannine,54,Floridian Leaf Traits Database,Cercis canadensis,11853,Cercis canadensis,154115,1607348,3106.0,Plant height vegetative,19,Plant height vegetative,Height_(m),3.5,m,Single,NaN,NaN,NaN,3.500,m,NaN,1607330.0,1.31018,"Cavender-Bares, J., A. Keen, and B. Miles. 200...",Height of the plant (m),NaN,NaN
30,Cavender-Bares,Jeannine,54,Floridian Leaf Traits Database,Cercis canadensis,11853,Cercis canadensis,154116,1607366,3106.0,Plant height vegetative,19,Plant height vegetative,Height_(m),3.5,m,Single,NaN,NaN,NaN,3.500,m,NaN,1607330.0,1.31018,"Cavender-Bares, J., A. Keen, and B. Miles. 200...",Height of the plant (m),NaN,NaN
39,Cavender-Bares,Jeannine,54,Floridian Leaf Traits Database,Cercis canadensis,11853,Cercis canadensis,154117,1607384,3106.0,Plant height vegetative,19,Plant height vegetative,Height_(m),3.5,m,Single,NaN,NaN,NaN,3.500,m,NaN,1607330.0,1.31018,"Cavender-Bares, J., A. Keen, and B. Miles. 200...",Height of the plant (m),NaN,NaN

In [11]:
df_trait_id.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6742 entries, 0 to 122824
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LastName               6742 non-null   object
 1   FirstName              6712 non-null   object
 2   DatasetID              6742 non-null   int64
 3   Dataset                6742 non-null   object
 4   SpeciesName            6742 non-null   object
 5   AccSpeciesID           6742 non-null   int64
 6   AccSpeciesName         6742 non-null   object
 7   ObservationID          6742 non-null   int64
 8   ObsDataID              6742 non-null   int64
 9   TraitID                6742 non-null   float64
 10  TraitName              6742 non-null   object
 11  DataID                 6742 non-null   int64
 12  DataName               6742 non-null   object
 13  OriglName              6742 non-null   object
 14  OrigValueStr           6737 non-null   object
 15  OrigUnitStr            6742 non-null   object
 16  ValueKindName          6742 non-null   object
 17  OrigUncertaintyStr     402 non-null    float64
 18  UncertaintyName        357 non-null    object
 19  Replicates             6 non-null      float64
 20  StdValue               6698 non-null   float64
 21  UnitName               6742 non-null   object
 22  RelUncertaintyPercent  0 non-null      float64
 23  OrigObsDataID          2407 non-null   float64
 24  ErrorRisk              6698 non-null   float64
 25  Reference              6742 non-null   object
 26  Comment                4735 non-null   object
 27  StdValueStr            0 non-null      object
 28  Unnamed: 28            0 non-null      float64
dtypes: float64(8), int64(5), object(16)
memory usage: 1.5+ MB

In [12]:
# Difference in OrigValueStr and StdValue
df_trait_id[
    df_trait_id["OrigValueStr"].notna() &
    df_trait_id["StdValue"].isna()
]

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
10875,Harrison,Sandy,236,Chinese Traits,Corylus heterophylla,14694,Corylus heterophylla,1670840,11437058,3106.0,Plant height vegetative,20,Plant height maximum,Maximum height (cm),unknown,cm,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,"Prentice, I.C., Meng, T., Wang, H., Harrison, ...",NaN,NaN,NaN
107074,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cibotium barometz,12897,Cibotium barometz,4458375,49947886,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,100 cm,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107081,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Potentilla palustris,64975,Comarum palustre,4478394,50147360,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,20-70 cm,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107091,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Eryngium alpinum,21954,Eryngium alpinum,4480313,50167689,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,30-70 cm,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107098,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Colocasia antiquorum,13920,Colocasia esculenta,4480422,50168574,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,1 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107105,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Camellia drupifera,9894,Camellia oleifera,4492346,50286655,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,7 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107112,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cnidoscolus aconitifolius,66748,Cnidoscolus aconitifolius,4495143,50313768,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,6 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107117,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Coffea eugenioides,13817,Coffea eugenioides,4496666,50327563,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,1-4.5 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107122,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Camellia pitardii,9895,Camellia pitardii,4496911,50329890,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 7 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107127,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Gardenia jasminoides,25697,Gardenia jasminoides,4497459,50335250,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 12 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107136,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Eugenia michelii,23098,Eugenia uniflora,4499834,50364341,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,5-20 ft,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107144,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cinchona pubescens,12934,Cinchona pubescens,4500056,50366967,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,5-8-12 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107149,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Coffea canephora,13814,Coffea canephora,4500057,50366978,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,12 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107158,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Citrus garrawayi,66689,Citrus garrawayi,4500590,50372654,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 15 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107163,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus sieboldiana,25271,Fraxinus sieboldiana,4501647,50382416,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,5 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107168,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Crataegus pinnatifida,15102,Crataegus pinnatifida,4501910,50384849,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,7 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107175,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Citrus medica,13211,Citrus medica,4502856,50394038,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,2-5 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107184,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Bruguiera gymnorrhiza,8625,Bruguiera gymnorhiza,4504233,50409745,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 10 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107192,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus mandshurica,25254,Fraxinus mandshurica,4511203,50502347,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 30 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107201,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus ornus,25258,Fraxinus ornus,4511206,50502391,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,15-25 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107210,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus pennsylvanica,25263,Fraxinus pennsylvanica,4511208,50502417,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,12-25 (45)m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107220,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus quadrangulata,25268,Fraxinus quadrangulata,4511210,50502446,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,10-25 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107228,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus velutina,25276,Fraxinus velutina,4511212,50502474,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,10-12 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107237,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Heritiera fomes,28484,Heritiera fomes,4513382,50530571,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 25 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107244,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Ficus comosa,24767,Ficus benjamina,4513571,50532907,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,30 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107252,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus griffithii,25250,Fraxinus griffithii,4513860,50536956,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,2.5 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107260,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cryptomeria japonica,15791,Cryptomeria japonica,4514508,50544848,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 70 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107269,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Craigia yunnanensis,14965,Craigia yunnanensis,4516596,50567368,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,6-20 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107275,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cedrela mexicana,11365,Cedrela odorata,4516697,50568327,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,10 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107280,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Corymbia calophylla,14704,Corymbia calophylla,4516849,50569990,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,40-60 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107287,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus mandschurica,25254,Fraxinus mandshurica,4517074,50572532,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 30 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107293,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Fraxinus platypoda,25266,Fraxinus platypoda,4517087,50572675,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,to 28 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107299,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Flueggea neowawraea,25133,Flueggea neowawraea,4517146,50573215,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,30 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107303,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cinchona ledgeriana,66633,Cinchona calisaya,4517489,50576415,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,15-20 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107307,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Clausena lansium,13290,Clausena lansium,4517531,50576808,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,3-8 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107313,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Dalbergia cochinchinensis,16762,Dalbergia cochinchinensis,4518303,50584460,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,25 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107321,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Dalbergia cultrata,16764,Dalbergia cultrata,4518304,50584474,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,10-20 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
107328,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Erythrophleum fordii,22136,Erythrophleum fordii,4518346,50585000,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,10-30 m,m,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN
122785,Jansen,Steven,673,Wagenfhr Woodatlas,Hevea brasiliensis Muell. Arg.,28671,Hevea brasiliensis,6461833,63611103,3106.0,Plant height vegetative,504,Plant height vegetative,Max tree height (m),12?? (height not so),m,Maximum,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,"Wagenfhr R. (2007) Holzatlas. 6., neu bearbei...",NaN,NaN,NaN

In [22]:
unit = df_trait_id["OrigValueStr"].str.extract(r"\b(cm|m|ft)\b")[0]
nums = df_trait_id["OrigValueStr"].str.findall(r"\d+(?:\.\d+)?")

def max_or_nan(x):
    if isinstance(x, list) and len(x) > 0:
        return max(map(float, x))
    return np.nan

max_value = nums.apply(max_or_nan)

conversion = {
    "m": 1.0,
    "cm": 0.01,
    "ft": 0.3048
}

converted = max_value * unit.map(conversion)

df_trait_id["StdValue"] = df_trait_id["StdValue"].fillna(converted)
df_trait_id[df_trait_id["OrigValueStr"] == "100 cm"]

/var/folders/h6/qd2kpqfj4_35f63hmcw_m0nc0000gn/T/ipykernel_6180/1157569339.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trait_id["StdValue"] = df_trait_id["StdValue"].fillna(converted)

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
107074,Guenther,Angela,460,TRY Categorical Traits Dataset (update 2018),Cibotium barometz,12897,Cibotium barometz,4458375,49947886,3106.0,Plant height vegetative,504,Plant height vegetative,VegetativePlantHeight,100 cm,m,Single,NaN,NaN,NaN,1.0,m,NaN,NaN,NaN,unpub.,NaN,NaN,NaN

In [23]:
df_trait_id.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6742 entries, 0 to 122824
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   LastName               6742 non-null   object
 1   FirstName              6712 non-null   object
 2   DatasetID              6742 non-null   int64
 3   Dataset                6742 non-null   object
 4   SpeciesName            6742 non-null   object
 5   AccSpeciesID           6742 non-null   int64
 6   AccSpeciesName         6742 non-null   object
 7   ObservationID          6742 non-null   int64
 8   ObsDataID              6742 non-null   int64
 9   TraitID                6742 non-null   float64
 10  TraitName              6742 non-null   object
 11  DataID                 6742 non-null   int64
 12  DataName               6742 non-null   object
 13  OriglName              6742 non-null   object
 14  OrigValueStr           6737 non-null   object
 15  OrigUnitStr            6742 non-null   object
 16  ValueKindName          6742 non-null   object
 17  OrigUncertaintyStr     402 non-null    float64
 18  UncertaintyName        357 non-null    object
 19  Replicates             6 non-null      float64
 20  StdValue               6735 non-null   float64
 21  UnitName               6742 non-null   object
 22  RelUncertaintyPercent  0 non-null      float64
 23  OrigObsDataID          2407 non-null   float64
 24  ErrorRisk              6698 non-null   float64
 25  Reference              6742 non-null   object
 26  Comment                4735 non-null   object
 27  StdValueStr            0 non-null      object
 28  Unnamed: 28            0 non-null      float64
dtypes: float64(8), int64(5), object(16)
memory usage: 1.5+ MB

In [24]:
# Difference in OrigValueStr and StdValue
df_trait_id[
    df_trait_id["OrigValueStr"].notna() &
    df_trait_id["StdValue"].isna()
]

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
10875,Harrison,Sandy,236,Chinese Traits,Corylus heterophylla,14694,Corylus heterophylla,1670840,11437058,3106.0,Plant height vegetative,20,Plant height maximum,Maximum height (cm),unknown,cm,Single,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,"Prentice, I.C., Meng, T., Wang, H., Harrison, ...",NaN,NaN,NaN
122785,Jansen,Steven,673,Wagenfhr Woodatlas,Hevea brasiliensis Muell. Arg.,28671,Hevea brasiliensis,6461833,63611103,3106.0,Plant height vegetative,504,Plant height vegetative,Max tree height (m),12?? (height not so),m,Maximum,NaN,NaN,NaN,NaN,m,NaN,NaN,NaN,"Wagenfhr R. (2007) Holzatlas. 6., neu bearbei...",NaN,NaN,NaN

In [25]:
df_trait_id_non_nan = df_trait_id[df_trait_id['StdValue'].notna()]

In [26]:
df_trait_id_non_nan.loc[:, "AccSpeciesName"] = (
    df_trait_id_non_nan["AccSpeciesName"].str.lower()
)
df_trait_id_non_nan.groupby("AccSpeciesName").size()

AccSpeciesName
aegle marmelos              1
aesculus hippocastanum     40
angophora floribunda        5
aquilaria sinensis          1
avellara fistulosa          1
                           ..
helwingia omeiensis         1
heritiera fomes             1
heritiera littoralis        3
heteromeles arbutifolia     8
hevea brasiliensis         85
Length: 199, dtype: int64

In [27]:
grouped = df_trait_id_non_nan.groupby("AccSpeciesName")
grouped.get_group("aesculus hippocastanum")

,LastName,FirstName,DatasetID,Dataset,SpeciesName,AccSpeciesID,AccSpeciesName,ObservationID,ObsDataID,TraitID,TraitName,DataID,DataName,OriglName,OrigValueStr,OrigUnitStr,ValueKindName,OrigUncertaintyStr,UncertaintyName,Replicates,StdValue,UnitName,RelUncertaintyPercent,OrigObsDataID,ErrorRisk,Reference,Comment,StdValueStr,Unnamed: 28
1205,Cornelissen,Johannes,37,Sheffield Database,Aesculus hippocastanum,1571,aesculus hippocastanum,172770,1814179,3106.0,Plant height vegetative,19,Plant height vegetative,Stature (max height),39,m,Single,NaN,NaN,NaN,39.00,m,NaN,NaN,2.364580,"Cornelissen, J. H. C. 1996. An experimental co...",m; max height attained at the site of collection,NaN,NaN
1352,Cornelissen,Johannes,37,Sheffield Database,Aesculus hippocastanum,1571,aesculus hippocastanum,172891,1818151,3106.0,Plant height vegetative,19,Plant height vegetative,Stature (max height),39,m,Single,NaN,NaN,NaN,39.00,m,NaN,1814179.0,2.364580,"Cornelissen, J. H. C. 1996. An experimental co...",m; max height attained at the site of collection,NaN,NaN
1478,Cornelissen,Johannes,37,Sheffield Database,Aesculus hippocastanum,1571,aesculus hippocastanum,172966,1820596,3106.0,Plant height vegetative,19,Plant height vegetative,Stature (max height),39,m,Single,NaN,NaN,NaN,39.00,m,NaN,1814179.0,2.364580,"Cornelissen, J. H. C. 1996. An experimental co...",m; max height attained at the site of collection,NaN,NaN
1625,Cornelissen,Johannes,37,Sheffield Database,Aesculus hippocastanum,1571,aesculus hippocastanum,173087,1824569,3106.0,Plant height vegetative,19,Plant height vegetative,Stature (max height),39,m,Single,NaN,NaN,NaN,39.00,m,NaN,1814179.0,2.364580,"Cornelissen, J. H. C. 1996. An experimental co...",m; max height attained at the site of collection,NaN,NaN
1760,Kleyer,Michael,25,The LEDA Traitbase,Aesculus hippocastanum,1571,aesculus hippocastanum,173432,1834254,3106.0,Plant height vegetative,19,Plant height vegetative,single value [m],20,m,Best estimate,NaN,NaN,NaN,20.00,m,NaN,NaN,1.711520,"Kleyer, M., R. M. Bekker, I. C. Knevel, J. P. ...",mean of observation,NaN,NaN
1764,Kleyer,Michael,25,The LEDA Traitbase,Aesculus hippocastanum,1571,aesculus hippocastanum,1114336,1834258,3106.0,Plant height vegetative,19,Plant height vegetative,single value [m],20,m,Maximum,NaN,NaN,NaN,20.00,m,NaN,1834254.0,1.711520,"Kleyer, M., R. M. Bekker, I. C. Knevel, J. P. ...",mean of observation,NaN,NaN
1766,Kleyer,Michael,25,The LEDA Traitbase,Aesculus hippocastanum,1571,aesculus hippocastanum,173433,1834261,3106.0,Plant height vegetative,19,Plant height vegetative,single value [m],20,m,Best estimate,NaN,NaN,NaN,20.00,m,NaN,1834254.0,1.711520,"Kleyer, M., R. M. Bekker, I. C. Knevel, J. P. ...",mean of observation,NaN,NaN
1770,Kleyer,Michael,25,The LEDA Traitbase,Aesculus hippocastanum,1571,aesculus hippocastanum,1114337,1834265,3106.0,Plant height vegetative,19,Plant height vegetative,single value [m],20,m,Maximum,NaN,NaN,NaN,20.00,m,NaN,1834254.0,1.711520,"Kleyer, M., R. M. Bekker, I. C. Knevel, J. P. ...",mean of observation,NaN,NaN
2551,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,762577,3486199,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,30,m,Mean,NaN,NaN,NaN,30.00,m,NaN,NaN,2.092730,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2553,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,762578,3486201,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,25,m,Mean,NaN,NaN,NaN,25.00,m,NaN,NaN,1.903810,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2555,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,762579,3486203,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,20,m,Low,NaN,NaN,NaN,20.00,m,NaN,NaN,1.711520,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2556,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1257846,3486204,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,25,m,High,NaN,NaN,NaN,25.00,m,NaN,NaN,1.903810,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2557,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1257847,3486205,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,30,m,Maximum,NaN,NaN,NaN,30.00,m,NaN,NaN,2.092730,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2559,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,762580,3486207,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,25,m,Mean,NaN,NaN,NaN,25.00,m,NaN,NaN,1.903810,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2561,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,762581,3486209,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,25,m,Mean,NaN,NaN,NaN,25.00,m,NaN,NaN,1.903810,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2797,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,764151,3490249,3106.0,Plant height vegetative,19,Plant height vegetative,MaximumHeight,25,m,Mean,NaN,NaN,NaN,25.00,m,NaN,NaN,1.903810,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",NaN,NaN,NaN
2860,Poschlod,Peter,71,BIOPOP: Functional Traits for Nature Conservation,Aesculus hippocastanum,1571,aesculus hippocastanum,808448,4805411,3106.0,Plant height vegetative,19,Plant height vegetative,Canopy height,20,m,Maximum,NaN,NaN,NaN,20.00,m,NaN,NaN,1.711520,"Poschlod, P., M. Kleyer, A. K. Jackel, A. Dann...",Elevation of photosynthetically active tissues...,NaN,NaN
2864,Poschlod,Peter,71,BIOPOP: Functional Traits for Nature Conservation,Aesculus hippocastanum,1571,aesculus hippocastanum,808451,4805421,3106.0,Plant height vegetative,19,Plant height vegetative,Canopy height,20,m,Maximum,NaN,NaN,NaN,20.00,m,NaN,NaN,1.711520,"Poschlod, P., M. Kleyer, A. K. Jackel, A. Dann...",Elevation of photosynthetically active tissues...,NaN,NaN
4920,Ozinga,Wim,116,The Netherlands Plant Height Database,Aesculus hippocastanum,1571,aesculus hippocastanum,964678,6113186,3106.0,Plant height vegetative,19,Plant height vegetative,Plant_height_max,2000,cm,Single,NaN,NaN,NaN,20.00,m,NaN,4805421.0,1.711520,unpub.,NaN,NaN,NaN
6593,Wright,Ian,20,GLOPNET - Global Plant Trait Network Database,Aesculus hippocastanum,1571,aesculus hippocastanum,1288546,8564127,3106.0,Plant height vegetative,19,Plant height vegetative,height,39,m,Single,NaN,NaN,NaN,39.00,m,NaN,1814179.0,2.364580,"Wright, I. J., P. B. Reich, M. Westoby, D. D. ...",typical max adult height,NaN,NaN
10025,Biological Records Centre (BRC),NaN,178,PLANTATT - Attributes of British and Irish Plants,Aesculus hippocastanum,1571,aesculus hippocastanum,1354678,9632474,3106.0,Plant height vegetative,1937,Plant height (unspecified if vegetative or rep...,Height (terrestrial),3200,cm,Maximum,NaN,NaN,NaN,32.00,m,NaN,NaN,3.616450,"HILL, M.O., PRESTON, C.D. & ROY, D.B. (2004) P...",NaN,NaN,NaN
10564,Ford,Henry,174,Ecological Flora of the British Isles,Aesculus hippocastanum,1571,aesculus hippocastanum,1595979,11035472,3106.0,Plant height vegetative,1937,Plant height (unspecified if vegetative or rep...,Height: 3. typical maximum (cm),3900,cm,Single,NaN,NaN,NaN,39.00,m,NaN,NaN,3.766340,"Fitter, A. H. and H. J. Peat 1994. The Ecologi...",3.05,NaN,NaN
10566,Ford,Henry,174,Ecological Flora of the British Isles,Aesculus hippocastanum,1571,aesculus hippocastanum,1595980,11035474,3106.0,Plant height vegetative,1937,Plant height (unspecified if vegetative or rep...,Height: 3. typical maximum (cm),25,cm,Single,NaN,NaN,NaN,0.25,m,NaN,NaN,5.574170,"Fitter, A. H. and H. J. Peat 1994. The Ecologi...",3.05,NaN,NaN
10792,Swenson,Nathan,214,Maximum Height of Chinese Tree Species (From S...,AESCULUS HIPPOCASTANUM L.,1571,aesculus hippocastanum,1648037,11151471,3106.0,Plant height vegetative,20,Plant height maximum,HEIGHT/m,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,NaN,1.338500,"Zheng, W. 1983. Silva Sinica: Volume 1-4. Chin...",NaN,NaN,NaN
15190,Schweingruber,Fritz,251,The Xylem/Phloem Database,Aesculus hippocastaneum L.,1571,aesculus hippocastanum,1796327,13550247,3106.0,Plant height vegetative,1937,Plant height (unspecified if vegetative or rep...,plant height,1000,cm,Single,NaN,NaN,NaN,10.00,m,NaN,NaN,2.735140,"Schweingruber, F.H., Landolt, W.: The Xylem Da...",NaN,NaN,NaN
23209,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823025,14802991,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,NaN,0.800147,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23212,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823026,14802994,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,NaN,0.651065,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23215,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823027,14802997,3106.0,Plant height vegetative,3646,Maximum height min,MaximumHeightMinM,20,m,Single,NaN,NaN,NaN,20.00,m,NaN,NaN,1.358330,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23216,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823027,14802998,3106.0,Plant height vegetative,3647,Maximum height max,MaximumHeightMaxM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,NaN,0.940158,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23217,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823027,14802999,3106.0,Plant height vegetative,3648,Maximum height extreme,MaximumHeightExtremeM,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,NaN,0.535506,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23219,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823028,14803001,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,14802994.0,0.651065,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
23222,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1823029,14803004,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,14802994.0,0.651065,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
24732,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1826535,14851869,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,14802994.0,0.651065,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
25286,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1828297,14900173,3106.0,Plant height vegetative,3645,Maximum height,MaximumHeightM,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,14802991.0,0.800147,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
25288,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1828298,14900175,3106.0,Plant height vegetative,3646,Maximum height min,MaximumHeightMinM,15,m,Single,NaN,NaN,NaN,15.00,m,NaN,NaN,0.904247,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
25289,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1828298,14900176,3106.0,Plant height vegetative,3647,Maximum height max,MaximumHeightMaxM,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,14802998.0,0.940158,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
25290,Wirth,Christian,68,The Functional Ecology of Trees (FET) Database...,Aesculus hippocastanum,1571,aesculus hippocastanum,1828298,14900177,3106.0,Plant height vegetative,3648,Maximum height extreme,MaximumHeightExtremeM,30,m,Single,NaN,NaN,NaN,30.00,m,NaN,14802999.0,0.535506,"Wirth, C. and J. W. Lichstein. 2009. The Impri...",x,NaN,NaN
117100,Danihelka,Ji,500,Pladias: Life forms and heights of the Czech f...,Aesculus hippocastanum,1571,aesculus hippocastanum,5982424,57851741,3106.0,Plant height vegetative,20,Plant height maximum,Height,25,m,Single,NaN,NaN,NaN,25.00,m,NaN,NaN,1.230170,"Kaplan Z., Danihelka J., Chrtek J. jun., Kirsc...",NaN,NaN,NaN
122783,Jansen,Steven,673,Wagenfhr Woodatlas,AESCULUS HIPPOCASTANUM L.,1571,aesculus hippocastanum,6461831,63611045,3106.0,Plant height vegetative,504,Plant height vegetative,Max tree height (m),25,m,Maximum,NaN,NaN,NaN,25.00,m,NaN,NaN,2.420760,"Wagenfhr R. (2007) Holzatlas. 6., neu bearbei...",NaN,NaN,NaN
122808,Jansen,Steven,673,Wagenfhr Woodatlas,AESCULUS HIPPOCASTANUM L.,1571,aesculus hippocastanum,6462075,63617289,3106.0,Plant height vegetative,504,Plant height vegetative,Min tree height (m),20,m,Minimum,NaN,NaN,NaN,20.00,m,NaN,NaN,2.204670,"Wagenfhr R. (2007) Holzatlas. 6., neu bearbei...",NaN,NaN,NaN